.page{
    width: 1024px;
    min-height: 1440px;
}
table{
    width: 1024px;
}
h1{
    color: rgb(62, 104, 125);
    text-align: center;
}
h3{
    color: #fff;
    background-color: rgb(62, 104, 125) ;
    /* 解决浏览器打印时，背景色不显示 */
    -webkit-print-color-adjust:exact;
    -moz-print-color-adjust:exact;
    -ms-print-color-adjust:exact;
    print-color-adjust:exact;
}
.education .school{
    font-weight: bold;
    table-layout:fixed
}
.experience .experience{
    font-weight: bold;
    table-layout:fixed
}